@import url(./variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-6);
    margin: 1%;
    font-family: 'Poppins', sans-serif;
}

.section_home {
    width: 100%;
    height: 80vh;
    padding: var(--padding--section-home);
    border-color: var(--color-1);
    border-style: solid;
    border-width: 4px;
}

/* Article_header */
.article_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.article_nav {
    margin-top: -24px;
}
.article_nav h1{
    color: var(--color-1);
    font-size: 34px;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: var(--color-2);
    font-size: 14px;
    padding-top: 2px;
}
#h {
    border-color: var(--color-7);
    border-style: solid;
    height: 40px;
    padding: 0px 5px;
}
.article_content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0 0 0 100px;
} 
.content_info {
    margin-top: 150px;
}
.content_info h2{
    color: var(--color-1);
    font-size: 84px;
}
.content_info p {
    color: var(--color-2);
    font-size: 31px;
    margin-bottom: 30px;
}
.content_info a {
    background-color: var(--color-1) ;
    border-radius: 2px;
    color: var(--color-2);
    padding: 8px 10px;
}
.article_content img{
    width: 45%;
}

.section__about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: var(--padding--section-about);
    width: 100%;
    height: 80vh;
    border-color: var(--color-1);
    border-style: solid;
    border-width: 4px;
}
.article__infous {
    margin-top: 15px;
}
.article__infous h3{
    color: var(--color-1);
    font-size: 20px;
}
.article__infous h2{
    color: var(--color-2);
    font-size: 45px;
    margin-bottom: 10px;
}
.article__infous p{
    color: var(--color-2);
    font-size: 24px;
    margin-bottom: 24px;
}
.article__infous a {
    background-color: var(--color-1) ;
    border-radius: 2px;
    color: var(--color-2);
    padding: 8px 20px;
}

.section__menu {
    padding: var(--padding--section-menu);
    width: 100%;
    height: 80vh;
    border-color: var(--color-1);
    border-style: solid;
    border-width: 4px;
}
.article__infomenu {
    text-align: center;
}
.article__infomenu h3{
    color: var(--color-1);
    font-size: 20px;
}
.article__infomenu h2 {
    color: var(--color-2);
    font-size: 50px;
    margin-bottom: 50px;
}
.article__price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}
.price__product {
    background-color: var(--color-5);
    width: 22vw;
    text-align: center;
}
.product__icon {
    display: flex;
    justify-content: flex-end;
}
.product__text img {
    width: 15vw;
}
.product__text h2,
.product__text h3 {
    color: var(--color-4);
}
.product__text h4 {
    color: var(--color-1);
}

.section__service {
    padding: var(--padding--section-service);
    width: 100%;
    height: 72vh;
    border-color: var(--color-1);
    border-style: solid;
    border-width: 4px;
}
.article__infoservice {
    text-align: center;
}
.article__infoservice h3{
    color: var(--color-1);
}
.article__infoservice h2{
    color: var(--color-2);
    font-size: 50px;
    margin-bottom: 50px;
}
.article__services {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-left: 155px;
}
.service__content {
    text-align: center;
    width: 19vw;
    text-align: center;
}
.service__content h2 {
    color: var(--color-1);
    margin-bottom: 10px;    
}
.service__content p {
    color: var(--color-2);
}
.service__content img{
    width: 15vw;
}

.section__contact {
    padding: var(--padding--section-contact);
    width: 100%;
    height: 55vh;
    border-color: var(--color-1);
    border-style: solid;
    border-width: 4px;
}
.article__contact {
    padding: 50px 80px;
    text-align: center;
    background-color: var(--color-5);
}
.article__contact h2 {
    color: var(--color-4);
    font-size: 62px;
    margin-bottom: 50px;
}
.article__contact a {
    background-color: var(--color-1) ;
    border-radius: 2px;
    font-size: 24px;
    color: var(--color-2);
    padding: 8px 20px;
}

.section_footer {
    padding: var(--padding--section-footer);
    width: 100%;
    height: 43vh;
    border-color: var(--color-1);
    border-style: solid;
    border-width: 4px;
    color: var(--color-2);
}
.article_footer {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-left: 318px;
}
.line{
    width: 140px;
    height: 44px;
}
.items{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.items2{
    display: flex;
    flex-direction: column;
    width: 219px;
    font-size: 20px;    
}



