:root {
    --color-1: #ff702a;
    --color-2: #fff;
    --color-3: #1e1d2b;
    --color-4: #000;
    --color-5: #ffefe8;
    --color-6: #2c2b47;
    --color-7: #087f5b;

    --padding--section-home: 40px 50px;
    --padding--section-about: 150px;
    --padding--section-menu: 80px;
    --padding--section-service: 80px;
    --padding--section-contact: 100px;
    --padding--section-footer: 100px 80px;
}