:root {
    --color-1: #ff702a;
    --color-2: #fff;
    --color-3: #1e1d2b;
    --color-4: #000;
    --color-5: #ffefe8;
    --color-6: #2c2b47;

    --margin--section-home: 0 120px 80px 120px;
    --margin--section-about: 80px;
    --margin--section-menu: 80px;
    --margin--section-service: 80px;
    --margin--section-contact: 80px;
}